* {
	padding: 0;
	margin: 0;
	font-family: 'Noticia Text', serif;
}

body,
html {
	overflow-x: hidden;
}

nav {
	margin: 0 auto;
	width: 100%;
	background-color: #282928;
}

#checkbox-menu,
.toggle {
	display: none;
}

.menu {
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;
	margin: 0 20vw 0 18vw;
}

.menu li a {
	color: #FFF;
	text-decoration: none;
	align-self: center;
	font-size: 17px;
	padding: 0.6vw 2vw;
	transition: background .2s linear;
	margin: 0;
}

.menu li a:hover {
	background: #404240;
	border-radius: 5px;
	color: #FFF;
}

.menu li p.logo {
	font-size: 40px;
	color: #FFF;
	position: relative;
	padding: 0 6vw 0 2vw;
	font-family: 'Tangerine', cursive;
}

.wrapper {
	margin: 0 auto;
	max-width: 1100px;
	width: 100%;
}

.intro {
	margin-top: 1vw;
	display: flex;
	justify-content: center;
}

.intro-img {
	background-image: url(img/yoda.jpg);
	width: 409px;
	height: 585px;
	margin: 0 17vw 0 18vw;
}

.intro .intro-text {
	position: absolute;
	font-size: 60px;
	left: 21vw;
	top: 6vw;
	font-family: 'Great Vibes', cursive;
}

.intro-contacts {
	background-color: #000000af;
	max-width: 590px;
	position: absolute;
	right: 19vw;
	top: 665px;
	display: flex;
	justify-content: space-between;
	padding: 1.2vw 2.5vw;
}

.intro-contacts i {
	color: #FFF;
	margin-right: 1vw;
}

.intro-contacts p {
	font-size: 18px;
	color: #FFF;
	margin-right: 60px;
}

.about {
	display: flex;
	margin-top: 100px;
	margin-bottom: 60px;
}

.about-num {
	margin-top: 110px;
}

.about-line {
	display: flex;
}

.about-text {
	padding-right: 40px;
}

.about-text h2 {
	font-size: 40px;
	margin-bottom: 40px;
	margin-top: 40px;
}

.about-text p {
	font-size: 18px;
	line-height: 35px;
	margin-top: 50px;
	text-align: justify;
}

#aboutP2 {
	margin-top: 80px;
}

.square {
	width: 200px;
	height: 200px;
	background-color: #282928;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.square-text {
	color: #FFF;
}

.about-square {
	font-size: 40px;
	color: #FFF;
	margin-bottom: 15px;
}

.about-text {
	font-size: 14px;
}

.projects {
	background-color: #F6F5F4;
	padding: 40px 0 60px 0;
}

.proj h2 {
	margin-bottom: 85px;
	font-size: 40px;
	margin-top: -20px;
}

.card {
	max-width: 348px;
	background: #FFF;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-container {
	padding: 25px;
}

.card-info {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}

.card-info .info i {
	margin-right: 8px;
}

.card-info .info span:first-child {
	margin-right: 18px;
}

.card:hover {
	background: #fafaf9;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	transform: scale(1.15);
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(348px, 3fr));
	grid-template-rows: repeat(auto-fit, minmax(348px, 12fr));
	grid-column-gap: 25px;
	grid-row-gap: 30px;
	justify-items: center;
}

/* .projects input[type=text] {
	margin-top: 50px;
	width: 300px;
	height: 60px;
	border: none;
	background-image: url(img/search.png);
	background-repeat: no-repeat;
	background-position: 27px;
	outline: none;
	padding-left: 62px;
	font-size: 15px;
	color: #919eb9;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.projects input[type=submit] {
	width: 115px;
	border: none;
	height: 60px;
	background: #000000af;
	color: #FFF;
	margin-left: -4px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	font-size: 16px;	
	outline: 0;
	border: 0;
} */

.bAll .all {
	width: 200px;
	height: 60px;
	border: none;
	border-radius: 10px;
	margin-left: 0;
	margin-top: 52px;
	font-size: 15px;
	background: #282928;
	color: #FFF;
	align-self: center;
	outline: 0;
	border: 0;
}

.projects .bAll {
	position: relative;
	justify-content: center;
	display: flex;
}

/* .projects .buttons-search {
	display: flex;
	position: absolute;
	left: 1060px;
	top: 1400px;
} */

.steps h2 {
	margin-top: 55px;
	font-size: 40px;
	margin-bottom: 35px;
}

.steps-text {
	line-height: 27px;
	font-size: 18px;
}

.mbtext {
	margin-bottom: 70px;
}

.stepblock {
	width: 350px;
	height: 380px;
	background: #FFF;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.stepblock .step-num {
	font-size: 200px;
	position: relative;
	top: -140px;
	left: -40px;
}

.stepblock:hover {
	background: #282928;
	color: #FFF;
}

.steps-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(348px, 3fr));
	grid-template-rows: repeat(auto-fit, minmax(348px, 12fr));
	grid-column-gap: 25px;
	grid-row-gap: 30px;
	justify-items: center;
	margin-bottom: 60px;
}

.stepblock h4 {
	font-size: 16px;
	margin-left: 40px;
	margin-top: -130px;
	margin-bottom: 20px;
}

.stepblock h4 span {
	margin-right: 15px;
}

.stepblock .step-info {
	margin-left: 70px;
	line-height: 29px;
}

.stepblock .stepinfolast {
	display: inline-block;
	margin-left: 70px;
	margin-top: 20px;
	border-bottom: 3px solid #000;
}

footer {
	background: #404240;
	color: #FFF;
	padding-top: 50px;
	padding-bottom: 80px;
}

.footer-block {
	display: flex;
	justify-content: space-between;
}

.footer-block H3 {
	font-size: 40px;
}

.mailto {
	height: 80%;
	height: 50px;
	margin-top: 15px;
	border-radius: 5px;
	outline: none;
	border: none;
}

.mailto a {
	text-decoration: none;
	color: rgb(46, 46, 46);
	padding: 10px 30px 10px 30px;
	font-size: 16px;
}

.mailto:hover {
	background: #282928;
}

.mailto:hover a {
	color: #FFF;
}

hr {
	opacity: 0.3;
	margin-top: 47px;
	margin-bottom: 70px;
}

.footer-links {
	display: flex;
	justify-content: space-between;
	padding-right: 90px;
}

.footer-link {
	display: flex;
	flex-direction: column;
}

.footer-lins-logo {
	font-size: 25px;
	margin-right: 26%;
}

.footer-link p {
	text-transform: uppercase;
	font-size: 13px;
	color: #919eb1;
	margin-bottom: 35px;
}

.footer-link a {
	color: #FFF;
	text-decoration: none;
	font-size: 13px;
	margin-bottom: 20px;
}

.footer-link a:hover {
	opacity: 0.4;
}

#message a {
	display: flex;
	position: flex-end;
	display: none;
	z-index: 999;
	opacity: .8;
	position: fixed;
	top: 100%;
	margin-top: -80px;
	left: 50%;
	margin-left: -9rem;
	border-radius: 24px;
	-webkit-border-radius: 24px;
	width: 300px;
	line-height: 43px;
	height: 48px;
	padding: 10px;
	background-color: #5a5c5a;
	font-size: 22px;
	text-align: center;
	color: #fff;
	text-decoration: none;
}

@media screen and (max-width: 320px) {
	.intro-img {
		background-position-x: -30px;
	}
}

@media screen and (max-width: 640px) {
	.about-text p {
		font-size: 13px;
		line-height: 18px;
		margin: 5px auto 0 auto;
		justify-content: space-around;
	}

	.about-num {
		margin-top: 0 !important;
	}

	.square {
		height: 170px !important;
		width: 170px !important;
		margin: 20px auto 20px auto;
	}

	.intro .intro-contacts {
		justify-content: none;
	}

	.intro-contacts p {
		font-size: 15px !important;
	}
}

@media screen and (max-width: 810px) {
	.toggle {
		clear: both;
		display: block;
		text-align: center;
		align-items: center;
		font-size: 18px;
		line-height: 50px;
		width: 100%;
		background: #282928;
		transition: all .1s linear;
		color: #FFF;
	}

	.toggle:hover {
		background: #404240;
	}

	#checkbox-menu:checked+label .touch li {
		opacity: 1;
		visibility: visible;
		transition: all .7s linear;
	}

	#checkbox-menu:checked+label .touch {
		height: 350px !important;
	}

	.menu {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 0px !important;
		transition: height .3s linear;
		background-color: #404240;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		margin: 0 0 0 0 !important;
	}

	.menu li {
		display: flex;
		width: 95%;
		opacity: 0;
		visibility: hidden;
		align-items: center;
		margin-left: 0.2rem;
	}

	.menu li a,
	li p {
		width: 95%;
		text-align: center;
		align-self: center;
		align-content: center;
		color: #FFF;
		font-size: 16px;
	}

	.menu li p.logo {
		font-size: 34px;
		margin-right: 0;
		margin-left: 0.3rem;
		padding: 0;
	}

	.menu li a.contacts {
		margin-right: 0px;
	}

	.intro {
		margin-top: 0;
		display: block;
		max-width: 100%;
	}

	.intro-img {
		margin: auto;
	}

	.intro .intro-text {
		position: relative;
		font-size: 37px !important;
		left: 10px !important;
		top: 50px !important;
	}

	.intro .intro-contacts {
		right: 0;
		top: -10px;
		padding: 20px 10px 20px 10px !important;
		position: relative;
		justify-content: space-around;
	}

	.intro-contacts i {
		margin-right: 10px;
	}

	.intro-contacts p {
		font-size: 18px;
		margin-right: 0px;
		color: #FFF;
		padding: 0 3vw 0 3vw;
	}

	.about {
		margin-top: 0;
		flex-direction: column;
	}

	.about-text h2 {
		font-size: 30px;
		margin-bottom: 10px;
		margin-top: 15px;
	}

	.about-num {
		margin-top: 20px;
	}

	.square {
		margin: 20px auto 20px auto;
	}

	#lastline {
		margin-bottom: 20px;
	}

	.projects {
		background-color: #F6F5F4;
		padding: 20px 0;
	}

	.proj h2 {
		padding-left: 10px;
		margin-bottom: 30px;
		font-size: 30px;
		margin-top: 10px;
	}

	.cards {
		grid-row-gap: 30px;
	}

	.card:hover {
		transform: none;
	}

	.bAll {
		margin-right: 35px;
	}

	.projects .buttons-search {
		display: none;
		visibility: hidden;
		position: relative;
	}

	.steps-text,
	.steps h2 {
		margin-left: 5%;
		margin-bottom: 15px;
	}

	.steps h2 {
		margin-top: 40px;
	}

	.footer-block {
		flex-direction: column;
	}

	.footer-logo h3 {
		font-size: 25px;
		text-align: center;
	}

	.footer-search {
		display: flex;
		justify-content: center;
	}

	.footer-links {
		flex-wrap: wrap;
		margin-left: 5%;
		padding-right: 5%;
	}

	#message {
		display: none;
	}
}

@media screen and (max-width: 1000px) {

	.menu {
		height: 50px;
		margin: 0;
	}

	.intro {
		margin-top: 0;
		display: block;
		max-width: 100%;
	}

	.intro-img {
		margin: auto;
	}

	.intro .intro-text {
		left: 5rem;
		top: 4rem;
	}

	.intro .intro-contacts {
		right: 0;
		top: -10px;
		padding: 20px 70px 20px 130px;
		position: relative;
	}

	.about {
		margin-top: 0;
		flex-direction: column;
	}

	.about-text {
		padding: 10px;
	}

	.about-line {
		display: flex;
		justify-content: center;
	}

	.about-num {
		margin-top: 20px;
	}

	.square {
		height: 250px;
		width: 250px;
		margin: 20px auto 20px auto;
	}

	.steps-container {
		grid-row-gap: 10px;
	}

	.stepblock {
		margin-top: 20px;
	}

}

@media screen and (max-width: 1260px) {
	.menu {
		margin: 0 17vw 0 17vw;
	}

	.menu li a {
		padding: 8px 10px;
		font-size: 14px;
	}

	.menu li p.logo {
		font-size: 30px;
	}

	.intro .intro-text {
		font-size: 45px;
	}

	.intro-contacts {
		top: 590px;
		max-width: 1260px;
	}

	.about-text p {
		font-size: 18px;
		line-height: 35px;
		margin-top: 40px;
	}

	#aboutP2 {
		margin-top: 40px;
	}

	.wrapper {
		margin: 0 auto;
		max-width: 1000px;
		width: 100%;
	}

}